.header {
    padding: 30px 0px;
    background: white;

}

.hamburger {
    display: none;
}
.header__nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    /* align-items: center;
    justify-items: center; */
}


.header__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    
}

.header__item {
    margin-right: 50px;
}

.header__item:last-child {
    margin-right: 0px;
}

.header__item a {
    font-size: 15px;
    color:#696871;
    line-height: 20px;
    letter-spacing: 0.468947px;
    transition: 0.3s;
}

.header__item a:hover {
    color: #191918;
    border-bottom: 2px solid #5454d4 ;
    padding-bottom: 10px;
}

.header__link {
    padding: 19px 60px;
    color: white;
    font-size: 17px;
    background:#FF7143;
    letter-spacing: -0.53px;
    border-radius: 10px;
}


.main {
    padding: 70px 0px 100px 0px;
    background: white;
}

.main__block {
    display: flex;
    align-items: center;

}

.main__text {
    width: 50%;
    padding-right: 74px;
}

.main__text h1 {
    font-size: 80px;
    letter-spacing: -2.50px;
    color: #19191b;
    line-height: 77px;
    margin-bottom: 30px;

}

.main__text p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.62px;
    color: #696871;
    margin-bottom: 50px;
}

.main__image {
    width: 50%;
}

.main__link a:first-child {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.53px;
    color: #FFFFFF;
    background: #5454d4;
    border-radius: 10px;
    padding: 19px 60px ;
    margin-right: 40px;
}

.main__link a:last-child {
    background: #FFFFFF;
    border: 1px solid #e7e7e7;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main__link {
    display: flex;
    align-items: center;
}

.sponsor {
    background: white;
    padding-bottom: 150px;
}

.sponsor__block{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.about {
    background: white;
    padding-bottom: 138px;
}

.about__item {
    display: flex;
    align-items: center;

}

.about__image {
    width: 50%;
}

.about__text {
    width: 50%;
}

.about__text h2 {
    color: #19191b;
    font-size: 50px;
    letter-spacing: -1.56px;
    margin-bottom: 30px;
}

.about__text p {
    color: #696871;
    font-size: 20px;
    letter-spacing: -0.63px;
    line-height: 30px;
    margin-bottom: 30px;
    padding-right: 80px;
}

.about__text a {
    color: #5454d4;
    font-size: 17px;
    letter-spacing: -0.53px;
}

.about__item:first-child {
    margin-bottom: 83px;
}

.info {
    background: white;
    padding-bottom: 150px;
}

.info__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 74px;
    align-items: baseline;

}

.info__item {
    text-align: center;
}

.info__item h3 {
    font-size: 24px;
    color: #19191b;
    letter-spacing: -0.75px;
    margin: 20px 0;
}

.info__item p {
    font-size: 16px;
    letter-spacing: -0.5px;
    color: #696871;
    line-height: 24px;
}

.info__item img {
    padding-left: 25px;
}

.price {
    padding-bottom: 150px;
    background: white;
}

.price__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 82px;
}

.price__heading h2 {
    font-size: 60px;
    color: #19191b;
    letter-spacing: -1.88px;
    line-height: 70px;
}

.price__link {
    background: #f7f7fb;
    border-radius: 10px;
    padding: 5px 6px;
    display: flex;
    align-items: center;
}


.price__link a {
    width: 50%;
    padding: 18px 0;
    text-align: center;
    font-size: 16px;
    color: #19191b;
    letter-spacing: -0.5px;
    width: 160px;
}
.price__link a:first-child {
    border-radius: 10px 0px 0px 10px ;
}

.price__link a:hover {
    background: #5454d4;
    color: white;
}

.price__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 18px;
    align-items: baseline;
}

.price__item {
    text-align: center;
    background: #f8f8f8;
    border-radius: 10px;
    padding: 34px 0 27px 0 ;
}
.price__item p {
    letter-spacing: -0.56px;
    font-size: 18px;
    margin-bottom: 22px;
    color: #696871;
}

.price__item h2 {
    font-size: 60px;
    color: #1d293f;
    letter-spacing: -1.03px;
}

.price__item h2 span {
    font-size: 28px;
    font-family: "DM Sans", sans-serif;
}

.price__list {
    margin: 28px 0 36px 0 ;
}

.price__list li {
    font-size: 17px;
    line-height: 50px;
    letter-spacing: -0.53px;
    color: #696871;
}

.price__item a {
    width: 100%;
    display: inline-block;
    background: white;
    border: 1px solid #eae9f2;
    border-radius: 10px;
    padding: 19px 0;
    color: #5454d4;
}



.price__item:nth-child(2) {
    background: #FF7143;
    box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
    padding: 50px 34px 43px 34px ;
    color: #FFFFFF;
}
.price__item:nth-child(2) p {
   color: #FFFFFFB2;
}

.price__item:nth-child(2) h2 {
   color: #FFFFFF;
}

.price__item:nth-child(2) li {
    color: #FFFFFF;

}

.price__item:nth-child(2) a {
    color: #FFFFFF;
    background: #9f3919;
    border: none;
    /* position: relative; */
}

/* .price__item:nth-child(2) a::before {
    content: '';
    position: absolute;
    top: 0 ;
    left: 0 ;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: yellow;
}


.price__item:nth-child(2) a::after {
    content: '';
    position: absolute;
    top: 0 ;
    right: 0 ;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: blue;

} */
/* 
Псевдо-классы
:first-child - обращение к 1 элементу 
:last-child - обращение к последнему элементу 
:nth-child(порядок элемента) - обращение к любому элементу
:hover - поведение при наведении 


Псевдо-элементы
::before, ::after
content: '';
строчные 
*/

/* line-height: цифру/px - межстрочный интервал
высота строки = Font-size
line-height > fontsize
transition: ms/s; 300/0.3
display: inline-block - строчно-блочный элемент
display: grid; - построение сетки 
grid-template-columns: 1fr 1fr 1 fr; repeate(3, 1 fr) - (кол-во колонок,  ячейки)
column-gap: px; - расстояние между колонками
border-radius: левй верхний, правый верхний, правый нижний,левый нижний;
*/